<h1>Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div class="my-2">
  <%= link_to "Show this movie", @movie, class: "btn btn-outline-primary" %> |
  <%= link_to "Back to movies", movies_path, class: "btn btn-outline-primary" %>
</div>
